@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top-row {
    height: 15px;
    width: 100%;
    background: #000000;
}

.name-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 50px;
    font-weight: bolder;
}
.position {
    font-size: 30px;
}

.info {
    margin-top: 20px;
    height: 110px;
    width: 100%;
    background: #ece7d9;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portrait {
    width: 150px;
    height: 150px;
}

.portrait img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.place, .phone, .email, .telegram {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-col {
    display: flex;
    flex-direction: column;
}

.info-col {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 80%;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 18px;
}

.text-ml {
    margin-left: 10px;
}

.text-ml-telegram {
    margin-left: 15px;
}

.icon-img {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:active {
    color: black;
}

.about {
    width: 27%;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-label {
    font-size: 30px;
    border-top: #11848e 2px solid;
    border-bottom: #11848e 2px solid;
    width: 100%;
    text-align: center;
}

.row-data {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.work {
    width: 42%;
}

.skills {
    width: 27%;
}

.work-header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.d-flex {
    display: flex;
}

.fd-colum {
    flex-direction: column;
}

.jc-flex-start {
    justify-content: flex-start;
}

.ml-13 {
    margin-left: 13px;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.js-space-around {
    justify-content: space-around;
}

.text-gray {
    color: gray;
}

.text-large {
    font-size: 20px;
}

.text-bold {
    font-weight: bold;
}

.skill-list {
    margin-top: 15px;
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.chip {
    border-radius: 20px;
    background: #ece7d9;
    padding: 5px 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    min-width: 120px;
}

.fw-bold {
    font-weight: bold;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.fs-20 {
    font-size: 20px;
}

.w-100 {
    width: 100%;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.chess-icon {
    width: 24px;
    height: 24px;
}

.chess-mr {
    margin-right: 17px;
}

.hobbies {
    flex-wrap: wrap;
}

.project-description {
    margin-top: 10px;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.min-size {
    min-width: 106px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: lightgrey;
}